@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
/*
 *
 * Design made by Jiten Sardana
 * @ Reference - INSPINIA - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
 *
*/
h1,
h2,
h3,
h4,
h5,
h6,{
	font-weight: 100;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 12px;
}
h6{
	font-size: 10px;
}
h3,
h4,
h5{
	margin-top: 5px;
	font-weight: 600;
}

/* BACKGROUNDS */
.gray-bg {
	background-color: #f3f3f4;
	background-image: "../images/education.jpg"
}
/* ERROR & LOGIN */
.middle-box {
	height: 400px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -200px;
	z-index: 100;
}

.logo-name {
	color: #e6e6e6;
	font-size: 180px;
	font-weight: 800;
	letter-spacing: -10px;
	margin-bottom: 0px;
	margin-left: -40px;
}

.loginscreen .middle-box{
	width: 760px;
	margin-left: -150px;
	margin-top: -330px;
}

.middle-box h1{
	font-size: 100px;
	margin-right: 200px;
}

.wrapper .middle-box{
	margin-top: 140px;
}

/* MODAL */
.animated .modal.fade .modal-dialog {
	-webkit-transform : none;
	-ms-tranform : none;
	-o-transofrm : none;
	transforn : none;
}

/* MARGINS AND PADDINGS */
.m-t-none{
	margin-top: 0;
}
.m-t-xxs {
	margin-top: 1px;

}
.m-t-xs{
	margin-top: 5px;
}
.m-t-sm{
	margin-top: 10px;
}
.m-t{
	margin-top: 15px;
}
.m-t-md{
	margin-top: 20px;
}
.m-t-lg{
	margin-top: 30px;
}
.m-t-xl{
	margin-top: 40px;
}
.m-t-n-xxs{
	margin-top: -1px;
}
.m-t-n-xs{
	margin-top: -5px;
}
.m-t-n-sm{
	margin-top: -10px;
}
.m-t-n{
	margin-top: -15px;
}
.m-t-n-md{
	margin-top: -20px;
}
.m-t-n-lg{
	margin-top: -30px;
}
.m-t-n-xl{
	margin-top: -40px;
}

/* NAVBAR */
.navbar-form-custom .form-group{
	margin-bottom: 0;
}
.navbar-form-custom .form-control{
	background: none repeat scroll 0 0 rgba(0,0,0,0);
	border: medium none;
	font-size: 14px;
	height :60px;
	margin: 0;
	z-index :2000;
}

/* MAILBOX */
.mail-body .form-group{
	margin-bottom: 5px;
}

/* Chat view */
.chat-message-form .form-group{
	margin-bottom: 0;
}

.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}

.form-control,
.single-line{
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #e5e6e7;
	border-radius: 1px;
	color: inherit;
	display: block;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out0s;
	width: 100%;
	font-size: 14px;
}

.form-control:focus,
.single-line:focus{
	border-color: #1ab394;
}
.has-success .form-control {
  border-color: #1ab394;
}
.has-warning .form-control {
  border-color: #f8ac59;
}
.has-error .form-control {
  border-color: #ed5565;
}

/* VALIDATION */
.form-control.error {
	border: 1px dotted #cc5965;
}

/* jqGrid */
.ui-jqgrid .form-control {
	height:10px;
	width: auto;
	display: inline;
	padding: 10px 12px;
}

/* New Timeline Style */
.vertical-timeline-content .btn{
	float: right;
}